<!DOCTYPE html>
<html>
<head>

    <title>Power Monitoring System</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body class="landing-body">

<div class="landing-container">

    <div class="landing-card">

        <h1>Campus Power Monitoring</h1>

        <p>
            Please login with your school email
        </p>

        <input
            type="email"
            id="email"
            placeholder="Enter your email"
        >

        <button onclick="registerUser()">
            View Outage Dashboard
        </button>

        <div id="message"></div>

    </div>

</div>

<script src="/static/app.js"></script>

</body>
</html>